.form {
  height: 1rem;
  padding: 0.5%;
  display: flex;
  border-top: 0.15rem solid #D3D3D3;

  .input {
    border: none;
    border-radius: 0;
    padding: 2%;
    width: 80%;
    font-size: 1rem;
  }

  .sendButton {
    height: 2rem;
    color: #fff !important;
    font-size: 1.2rem;
    text-decoration: none;
    background: #2979FF;
    padding: 0.25rem;
    display: inline-block;
    border: none;
    width: 20%;
  }
}



input:focus, textarea:focus, select:focus{
  outline: none;
}

