.textContainer {
    margin-top: 2rem;
    max-width: 40%;
    height: 90vh;
    border-right: 0.25rem solid;
    padding: 1rem;
    border-image: 
    linear-gradient(
      to bottom, 
      #2979FF, 
      rgba(0, 0, 0, 0)
    ) 1 100%;

    h1, h2 {
      font-family: 'Lemonada', cursive;
      font-size: 1.2rem;
    }

    .activeContainer {

      .users {
        font-family: 'lato', sans-serif;
         font-size: 1rem;
      }

      .activeItem {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .onlineIcon {
          height: 0.5rem;
        }
    }
    }
   
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}