.OuterContainer {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 1rem;

  .container {
    display: flex;
    flex-flow: column;
    width: 60%;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .OuterContainer {
    .container {
      width: 100%;
    }
  }
}
